/* ---------------------- page style ---------------------- */

.page-body {
  background: #212529;
}

/* ---------------------- page layout ---------------------- */

.content {
  padding-left: 300px;
  text-align: center;
  /* margin: 80px; */
}

.container {
  width: 90%;
}

@media only screen and (max-width: 992px) {
  .content {
    padding-left: 0;
  }
}

.home {
  padding-top: 250px;
  height: 100vh;
  min-height: 100vh;
}

.about {
  /* padding-bottom: 200px; */
  height: 100vh;
  min-height: 100vh;
}

/* ---------------------- sidebar ---------------------- */

.sidenav {
  text-align: center;
  background-color: #111418;
}

.sidenav-trigger i {
  color: #1cb385;
  padding-left: 5px;
  padding-top: 5px;
}

/* profile picture */

.profile {
  margin-bottom: 25px;
}

.profile-picture {
  margin-top: 50px;
  margin-bottom: 10px;
  border-radius: 50%;
  border: 8px solid #343a40;
  width: 160px;
  height: 160px;
}

/* Website menu navigation items */

.menu-nav-item {
  color: rgba(250, 250, 250, 0.9) !important;
  margin-bottom: 5px;
}

.menu-nav-item:hover {
  color: #1cb385 !important;
  background-color: transparent !important;
}

/* font awesome social media buttons */
.fa {
  margin: 2px;
  padding: 10px;
  font-size: 20px;
  height: 40px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: #1cb385;
  color: white;
  transition-duration: 0.4s;
}
.fa-linkedin:hover {
  background: #007bb5;
  color: white;
}
.fa-twitter:hover {
  background: #55acee;
  color: white;
}
.fa-github:hover {
  background: #080808;
  color: white;
}
.fa-gitlab:hover {
  background: #ff5700;
  color: white;
}

/* ---------------------- home ---------------------- */

.home {
  color: rgba(250, 250, 250, 0.9);
}

.name-color {
  color: #1cb385;
}

.line-1 {
  position: relative;
  width: 13.5em;
  margin: 0 auto;
  border-right: 2px solid rgba(250, 250, 250, 0.9);
  font-size: 300%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}
/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(25) 1s 1 normal both,
    blinkTextCursor 500ms steps(25) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 11.5em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(250, 250, 250, 0.9);
  }
  to {
    border-right-color: transparent;
  }
}

.download-cv-button {
  border: 2px solid #1cb385;
  border-radius: 8px;
  background-color: transparent;
  color: #1cb385;
  font-weight: 600;
  transition-duration: 0.4s;
  height: 40px;
  width: 180px;
}
.download-cv-button:hover {
  background: #1cb385;
  color: white;
}
.download-cv-button:hover i {
  color: white;
}

/* ---------------------- About ---------------------- */

.about {
  background-color: #343a40;
  color: rgba(250, 250, 250, 0.9);
}

.about-presentation {
  text-align: justify;
  margin-left: 5%;
  margin-right: 5%;
}

.skills i {
  font-size: 4em;
  margin: 10px;
}

/* ---------------------- contact ---------------------- */

.contact {
  background-color: #212529;
  height: 100vh;
  color: rgba(250, 250, 250, 0.9);
}

.contact-info h5 {
  text-align: center;
  margin-bottom: 30px;
}

.contact-info {
  text-align: justify;
}

.coordonate {
  text-align: center;
  margin: auto;
  width: 30%;
}

.material-icons {
  color: #1cb385;
  margin-right: 5px;
}

.card-panel {
  width: 80%;
  margin: auto;
  background-color: transparent;
}

.row {
  margin-bottom: 0px;
}

/* ---------------------- other ---------------------- */

.title-divider {
  border: 2px solid #1cb385;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 10%;
}

.section-title {
  margin: 2.8rem 0 1rem 0;
}
